<div [class]="['mainbody']">
  
<!-- <app-todo-list></app-todo-list> -->
<div [class]="['navbar']">
 <ul [class]="['nav-btn']">
  <li><h4>Welcome to Home Page</h4></li>
  <ul>
  <li [class]="['tabstyle']"><a routerLink="/todoapp" routerLinkActive="activebutton">Your Todo App</a></li>
  <li [class]="['tabstyle']"><a routerLink="/formspage" routerLinkActive="activebutton">Feedback Form</a></li>
  <li [class]="['tabstyle']"><a routerLink="/dynamicform" routerLinkActive="activebutton">dynamic Form</a></li>
</ul>
 </ul>
</div>
 
 <div [class]="['content']">
<router-outlet></router-outlet>
</div>
</div>
